body {
    background-color: #adc9e6;
}

#cell-overlay {
    display: none;
    position: absolute;
    font-family: monospace;
    padding: 1px 4px;
    border: 1px solid black;
    pointer-events: none;
    user-select: none;
    font-weight: bold;
    box-sizing: border-box;
    padding: 1px 4px;
}
#cell-overlay.shown {
    display: block;
}

#cell-overlay:empty:after {
    content: "\a0";
}

#cell-info-display {
    position: fixed;
    border-bottom: 1px solid black;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    padding: 0.5em;
    z-index: 1;
}

#cell-info-contents {
    text-align: center;
    font-size: 140%;
    font-family: monospace;
}

#cell-info-contents:empty:after {
    content: "\a0";
}

#header-info {
    padding-left: 10px;
}

#header-info:not(.shown) {
    visibility: hidden;
}

#shuffle-type:before {
    content: "Shuffle type: ";
}

#shuffle-targets:not(:empty):before {
    content: "Affects columns: ";
}

#shuffle-within:not(:empty):before {
    content: "Shuffles within column: ";
}

#shuffle-targets:empty:before {
    content: "\a0";
}

#shuffle-within:empty:before {
    content: "\a0";
}

#shuffle-demo-container {
    margin-top: 7em;
}

.shuffle-demo {
    text-align: center;
    margin-top: 3em;
}
.csv-pair-container > div {
    width: calc(50% - 10px);
    display: inline-block;
    box-sizing: border-box;
}
.csv-pair-container > div:first-child {
    text-align: right;
    margin-right: 10px;
}
.csv-pair-container > div:last-child {
    text-align: left;
    margin-left: 10px;
}
.csv-pair-container > div > div {
    display: inline-block;
    border: 1px solid black;
    overflow: auto;
    max-width: 100%;
}

.csv-pair-container > div:first-child > div { margin-left: auto; }

table {
    text-align: left;
    border-collapse: collapse;
    font-family: monospace;
    overflow: auto;
    user-select: none;
    background-color: white;
}
td, th {
    border: 1px solid black;
    padding: 0;
}

td > span,
th > span {
    display: block;
    padding: 1px 4px;
    white-space: nowrap;
    max-width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
}

td > span:empty:after,
th > span:empty:after {
    content: "\a0";
}

th:first-child,
td:first-child { border-left: none; }
td:last-child,
th:last-child { border-right: none; }
th { border-top: none; }
tbody tr:last-child td { border-bottom: none; }

#cell-color-input {
    display: none;
    position: fixed;
    top: 0.5em;
    left: 0.5em;
    z-index: 2;
}

#cell-color-input.shown {
    display: initial;
}

.reshuffle-button-container {
    margin-top: 12px;
    text-align: center;
}

.shuffle-description {
    display: inline-block;
    max-width: 800px;
    margin: auto;
    padding: 4px 8px;
    background-color: #DDD;
    margin: 20px auto;
    border: 1px solid #5f7286;
    text-align: left;
    line-height: 1.5em;
}

.shuffle-description:empty {
    display: none;
}
